<html xmlns:th="http://www.thymeleaf.org">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>File to parse:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<table>
    <th:block th:each="message : ${messages}">
        <tr>
            <td th:text="${message}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>